.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa a altura total da tela */
   
  }
  .logo img {
    width: 250px;
    display: block;
    margin: 0 auto 30px;
}
  
  .content {
    background: rgb(255, 255, 255);

    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px; /* Bordas arredondadas */
    
    padding: 80px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 600px; /* Largura máxima para telas grandes */
  }
  
  h2 {
    font-size: 1.5em; /* Tamanho grande do texto */
    color: #5B4134; /* Cor que combina com os botões */
    margin-bottom: 30px; /* Espaço abaixo do título */
  }
  
  .roleButtons {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaço entre os botões */
  
  }
  
  .roleButtons button {
    width: 150px; /* Largura fixa para botões */
    transition: transform 0.3s ease; /* Suaviza a mudança */

  }

  

.blocos{
  display: flex;
  justify-content: center; /* Centraliza os itens no contêiner */
  gap: 2em; /* Espaçamento entre os itens */
  margin-bottom: 3em;
  margin-top: 3.7em;
  cursor: float;
}


