.itemList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px; 
}

.itemCard {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  transition: transform 0.2s; 
  height: 100%;
}

.itemCard:hover {
  transform: translateY(-5px);
}

.itemImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h3 {
  margin: 15px;
  font-size: 1.5em;
}

p {
  margin: 10px 15px;
  color: #555;
  font-size: 1.1em;
}


.searchContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.searchInput {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 10px;
}

.searchIcon {
  font-size: 1.2em;
  color: #555;
}
